img.img5 {
    display: block;
    position: absolute;
    top: 1050px;
    left: 50px;
    max-width: 15%;
}
p.cap {
    display: none;
    border: 2px solid #b32b2b;
    background-color: #b32b2b;
    max-width: 7%;
    position: absolute;
    top: 1150px;
    left: 80px;
}
div.cap:hover p {
    display: block;
}
div.cap:hover img {
    opacity:0.2;
}