img.img7 {
    display: block;
    position: absolute;
    top: 830px;
    left: 300px;
    max-width: 15%;
}

p.hawkeye {
    display: none;
    border: 2px solid #b32b2b;
    background-color: #b32b2b;
    max-width: 7%;
    position: absolute;
    top: 880px;
    left: 325px;
}

div.hawkeye:hover p {
    display: block;
}

div.hawkeye:hover img {
    opacity: 0.2;
}
