img.img8 {
    display: block;
    position: absolute;
    top: 1050px;
    left: 300px;
    max-width: 15%;
}

p.hulk {
    display: none;
    border: 2px solid #b32b2b;
    background-color: #b32b2b;
    max-width: 7%;
    position: absolute;
    top: 1080px;
    left: 325px;
}

div.hulk:hover p {
    display: block;
}

div.hulk:hover img {
    opacity: 0.2;
}
