* {
    margin: 0 0;
    padding: 0 0;
}
body {
    background-color: #3d3939;
    color: white;
    font-family: sans-serif;
    text-align: center;
}
/*NAVIGATION BAR*/
ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #7d6f6f;
    position: -webkit-sticky;
    top: 0;
    width: 100%;
    z-index: 1;
}
.nav li {
    text-align: center;
    display: inline-block;
}
    .nav li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
        .nav li a:hover {
            background-color: #2b30ba;
        }
.active {
    background-color: #b32b2b;
}
/*ACCOUNT*/
.container_acc {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex: 1 1;
    height: 500px;
    max-height: 100%;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
}
.email_box {
    width: 15%;
    height: 5%;
    background-color: black;
    color: white;
    border-radius: 15px;
    font-size: 100%;
    text-align: center;
    transition: all 1s;
}
    .email_box:focus {
        width: 20%;
    }
.password_box {
    width: 15%;
    height: 5%;
    background-color: black;
    color: white;
    border-radius: 15px;
    font-size: 100%;
    text-align: center;
    transition: all 1s;
}
    .password_box:focus {
        width: 20%;
    }
.submit_acc_button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px;
    text-decoration: none;
    font-size: 16px;
    transition: transform 1s;
}
    .submit_acc_button:hover {
        transform: scale(1.3);
    }
/* HOME */
/*MARVEL SIDE*/
.welcome_text {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
.container_md {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-direction: row;
    flex: 1 1;
    width: 700px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
.img1 {
    margin: 10px;
    width: 400px;
    border-radius: 10px;
}
.img2 {
    width: 200px;
    border-radius: 10px;
}
/*AVENGERS*/
.container_marvel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    flex-direction: column;
    flex: 1 1;
    height: 750px;
    width: 400px;
    margin-top: 150px;
    margin-left: 50px;
    float: left;
}
.col_marvel {
    width: 200px;
    height: 100%;
}
p.apear {
    background-color: #b32b2b;
    border: 2px solid #b32b2b;
    display: none;
    width: 70%;
    border-radius: 10px;
}
.img_marvel {
    width: 170px;
    border-radius: 10px;
    margin: 10px;
}
div.apear:hover p {
    display: block;
}
div.apear:hover img {
    opacity: 0.2;
}
/*STAN LEE*/
.stan_lee {
    position: absolute;
    top: 10%;
    left: 6%;
    width: 15%;
    border-radius: 10px;
}
/*DC SIDE*/
/*MALCOM*/
.malcom {
    position: absolute;
    top: 130px;
    right: 120px;
    max-width: 20%;
    border-radius: 10px;
}
/*JUSTICE LEAGUE*/
.container_dc {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    flex-direction: column;
    flex: 1 1;
    height: 750px;
    width: 400px;
    margin-top: 150px;
    margin-right: 50px;
    float: right;
}
.col_dc {
    width: 200px;
    height: 100%;
}
.img_dc {
    width: 170px;
    border-radius: 10px;
    margin: 10px;
}
p.apear2 {
    background-color: #2b30ba;
    border: 2px solid #2b30ba;
    display: none;
    width: 70%;
    border-radius: 10px;
}
div.apear2:hover p {
    display: block;
}
div.apear2:hover img {
    opacity: 0.2;
}
/*VERSUS*/
.versus {
    position: absolute;
    top: 750px;
    right: 700px;
    max-width: 100%;
    transition: transform 1s;
}
.versus:hover {
    transform: scale(1.5);
}
/* QUIZ */
.question {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    height: 500px;
    max-width: 40%;
    max-height: 100%;
    color: black;
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    font-size: large;
}
.ans {
    list-style: none;
    text-align: left;
}
.row_button {
    flex-direction: row;
    width: 90%;
}
.previous {
    float: left;
    color: white;
    border: 1px solid #288e52;
    border-radius: 5px;
    background-color: #288e52;
    padding: 10px;
    transition: transform 1s;
}
    .previous:hover {
        transform: scale(1.2);
    }
.next {
    float: right;
    color: white;
    border: 1px solid cornflowerblue;
    border-radius: 5px;
    background-color: cornflowerblue;
    padding: 10px;
    transition: transform 1s;
}
    .next:hover {
        transform: scale(1.2);
    }
.quit {
    color: white;
    border: 1px solid darkred;
    border-radius: 5px;
    background-color: darkred;
    padding: 10px;
    vertical-align: sub;
    transition: transform 1s;
}
    .quit:hover {
        transform: scale(1.2);
    }
/*QUIZES*/
.quizes-list {
    list-style: none;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 800px;
}
    .quizes-list img {
        max-width: 30%;
        border-radius: 20px;
        float: left;
        margin: 10px;
    }
    .quizes-list p {
        border: 1px solid white;
        background-color: black;
        border-radius: 20px;
        padding: 5px;
        display: none;
        float: left;
    }
    .quizes-list li {
        float: left;
    }