img.img6 {
    display: block;
    position: absolute;
    top: 550px;
    left: 300px;
    max-width: 15%;
}

p.black_widow {
    display: none;
    border: 2px solid #b32b2b;
    background-color: #b32b2b;
    max-width: 7%;
    position: absolute;
    top: 590px;
    left: 325px;
}

div.black_widow:hover p {
    display: block;
}

div.black_widow:hover img {
    opacity: 0.2;
}