img.img3 {
    display: block;
    position: absolute;
    top: 550px;
    left: 50px;
    max-width: 15%;
}

p.iron_man {
    display: none;
    border: 2px solid #b32b2b;
    background-color: #b32b2b;
    max-width: 5%;
    position: absolute;
    top: 590px;
    left: 95px;
}

div.iron_man:hover p {
    display: block;
}
div.iron_man:hover img {
    opacity: 0.2;
}