img.img9 {
    display: block;
    position: absolute;
    top: 95px;
    left: 150px;
    max-width: 15%;
}

p.stanlee {
    display: none;
    border: 2px solid #b32b2b;
    background-color: #b32b2b;
    max-width: 10%;
    position: absolute;
    top: 200px;
    left: 200px;
}

div.stanlee:hover p {
    display: block;
}

div.stanlee:hover img {
    opacity: 0.2;
}
