img.img4 {
    display: block;
    position: absolute;
    top: 830px;
    left: 50px;
    max-width: 15%;
}
p.thor {
    display: none;
    border: 2px solid #b32b2b;
    background-color: #b32b2b;
    max-width: 5%;
    position: absolute;
    top: 860px;
    left: 95px;
}

div.thor:hover p {
    display: block;
}
div.thor:hover img {
    opacity: 0.2;
}