img.img15 {
    display: block;
    position: absolute;
    top: 1070px;
    right: 50px;
    max-width: 20%;
}

p.aquaman {
    display: none;
    border: 2px solid #2b30ba;
    background-color: #2b30ba;
    max-width: 7%;
    position: absolute;
    top: 1150px;
    right: 75px;
}

div.aquaman:hover p {
    display: block;
}

div.aquaman:hover img {
    opacity: 0.2;
}
