img.img10 {
    display: block;
    position: absolute;
    top: 130px;
    right: 120px;
    max-width: 20%;
}

p.malcom {
    display: none;
    border: 2px solid #2b30ba;
    background-color: #2b30ba;
    max-width: 10%;
    position: absolute;
    top: 170px;
    right: 200px;
}

div.malcom:hover p {
    display: block;
}

div.malcom:hover img {
    opacity: 0.2;
}