img.img11 {
    display: block;
    position: absolute;
    top: 550px;
    right: 50px;
    max-width: 20%;
}

p.superman {
    display: none;
    border: 2px solid #2b30ba;
    background-color: #2b30ba;
    max-width: 7%;
    position: absolute;
    top: 610px;
    right: 75px;
}

div.superman:hover p {
    display: block;
}

div.superman:hover img {
    opacity: 0.2;
}
