img.img14 {
    display: block;
    position: absolute;
    top: 810px;
    right: 300px;
    max-width: 20%;
}

p.wonder_woman {
    display: none;
    border: 2px solid #2b30ba;
    background-color: #2b30ba;
    max-width: 7%;
    position: absolute;
    top: 890px;
    right: 320px;
}

div.wonder_woman:hover p {
    display: block;
}

div.wonder_woman:hover img {
    opacity: 0.2;
}
