p.avengers4 {
    display: none;
    border: 1px solid white;
    background-color: black;
    max-width: 100%;
    width: 20%;
    max-height: 100%;
    height: 5%;
    line-height: 40px;
    vertical-align: middle;
    position: absolute;
    top: 470px;
    left: 1400px;
    font-family: sans-serif;
}

div.avengers4:hover p {
    display: block;
}

div.avengers4:hover img {
    opacity: 0.8;
}
